:root {
  --primari-fonts: "Open Sans" sans-serif;
  /* Text colors */
  --main-txt-cl: rgb(255, 255, 255);
  --ccent-title-cl: rgb(255, 193, 120);
  --accent-txt-cl: rgb(251, 215, 132);
  --bt-txt-cl: rgb(0, 0, 0);
  /* Bg colors */
  --main-bg-cl: rgb(0, 0, 0);
  /* Button colors */
  --main-bt-cl: rgb(255, 163, 67);
  /* Others */
}

/**
  |============================
  | Base styled
  |============================
*/

html {
  box-sizing: border-box;
}

body {
  font-family: var(--primari-fonts);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.8;
  color: var(--main-txt-cl);
  background-color: var(--main-bg-cl);
}

/* Reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

/* Reset End */
.container {
  width: 1751px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 85px;
  padding-right: 85px;

  outline: 2px solid red;
  outline-offset: -2px;
}

/**
  |============================
  | Body styles
  |============================
*/
.background_img {
  position: absolute;
  z-index: -1;
}

.uppertitle {}

.title {}

.text {}

.link-read-more {}

/**
  |============================
  | Header styles
  |============================
*/
.header {}

.header-container {
  display: flex;
  padding-top: 65px;
  justify-content: space-between;
}

.container {}

.header-logo {
  width: 87px;
  max-height: 33px;
}

.header-nav {}

.header-nav-list {
  display: flex;
  gap: 50px;
}

.header-nav-item {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
}

.header-nav-link {}

.header-form {}

.header-form-btn {}

.header-form-input {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4;
}

/**
  |============================
  | Hero styles
  |============================
*/
.hero {}

.container {}

.hero-uppertitle {
  /* border-top: 2px solid var(--ccent-title-cl); */
  display: grid;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: var(--ccent-title-cl);
  margin-bottom: 32px;


}

.hero-box {
  display: flex;
  margin-bottom: 128px;
}

.hero-box-list {
  margin-right: 396px;
}

.text-social {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  writing-mode: vertical-rl;
  margin-bottom: 20px;
}

.hero-list {}

.list {}

.hero-item {
  margin-bottom: 20px;
}

.hero-list-link {}

.hero-list-img {
  width: 24px;
  height: 24px;
}

.hero-title {
  max-width: 950px;
  font-size: 88px;
  font-weight: 400;
  line-height: 1.1;
}

.hero-title-accent {
  font-size: 96px;
  font-weight: 700;
}

.hero-desc {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 875px;
}

.hero-desc-token {}

/**
  |============================
  | About styles
  |============================
*/
.about {}

.about-container {
  Width: 1462px;
  

  Outline: 2px solid red;
  Outline-offset: -2px;
}

.container {}

.about-img {}

.uppertitle {}

.title {}

.text {}

.link-read-more {}