:root {
  --primari-fonts: "Open Sans" sans-serif;
  /* Text colors */
  --main-txt-cl: rgb(255, 255, 255);
  --accent-title-cl: rgb(255, 193, 120);
  --accent-txt-cl: rgb(251, 215, 132);
  --bt-txt-cl: rgb(0, 0, 0);
  --footer-accent-cl: rgb(255, 209, 160);
  /* Bg colors */
  --main-bg-cl: rgb(0, 0, 0);
  /* Button colors */
  --main-bt-cl: rgb(255, 163, 67);
  /* Others */
}

/**
  |============================
  | Base styled
  |============================
*/

html {
  box-sizing: border-box;
}

body {
  font-family: var(--primari-fonts);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.8;
  color: var(--main-txt-cl);
  background-color: var(--main-bg-cl);
}

main {
  margin-top: -144px;
}

/* Reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

/* Reset End */
.section {
  padding-bottom: 250px;
}

.container {
  max-width: 1920px;
  max-height: 1200px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

.container-main {
  display: flex;

  max-width: 1462px;
  margin-left: auto;
  margin-right: auto;

  /* Outline: 2px solid red;
  Outline-offset: -2px; */
}

/**
  |============================
  | Body styles
  |============================
*/

.background_img {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
}

.uppertitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 6px;
  text-transform: uppercase;

  margin-bottom: 27px;

  color: var(--accent-txt-cl);

}

.title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.4;

  margin-bottom: 27px;
}

.text {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.8;

  margin-bottom: 27px;
}

.link-read-more {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;

  color: var(--accent-txt-cl);
}

/**
  |============================
  | Header styles
  |============================
*/

.header {
  height: 1573px;
  background-image: linear-gradient(-12.53deg, rgba(0, 0, 0, 0) 31.055%, rgb(0, 0, 0) 108.93%), url(../images/hero/hero_fon/hero_fon.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header::after {
  content: "";
  display: block;
  width: 100%;
  height: 378px;
  background: linear-gradient(0.00deg, rgb(0, 0, 0), rgba(0, 0, 0, 0) 77.778%);
}

.header-container {
  padding: 60px 80px 0;
}

.header-nav-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 197px;

}

.header-nav-list {
  display: flex;
  gap: 50px;
}

.header-nav-item {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
}

.header-form {
  opacity: 0.6;

}

.header-form-label {
  display: flex;
  justify-content: center;
  align-items: end;
}

.header-form-icon {
  margin-right: 14px;
}

.header-form-input {
  width: 55px;
  height: 23px;

  border: none;
  background: transparent;
  cursor: pointer;

}


.header-form-input {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4;
}

/* Hero styles */
.hero-container {
  display: flex;
  gap: 396px;
}

.hero-box-list {
  margin-top: 72px;
}

.text-social {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  writing-mode: vertical-rl;
  margin-bottom: 20px;
}

.hero-item {
  margin-bottom: 20px;
}

.hero-item:last-child {
  margin-bottom: 0;
}

.hero-uppertitle {
  display: flex;
  align-items: center;
  gap: 32px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: var(--accent-title-cl);
  margin-bottom: 32px;
}

.hero-uppertitle::before {
  content: "";
  display: block;
  width: 72px;
  height: 2px;
  background-color: var(--accent-title-cl);
}

.hero-title {
  max-width: 950px;
  font-size: 88px;
  font-weight: 400;
  line-height: 1.1;

  margin-bottom: 128px;
}

.hero-title-accent {
  font-size: 96px;
  font-weight: 700;
}

.hero-desc {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 502px;
}

/**
  |============================
  | About styles
  |============================
*/
.about-contetnt {
  width: 632px;
  height: 546px;
  margin-top: 88px;
  margin-left: 235px;
}


.uppertitle-line {
  display: flex;
  align-items: center;
  gap: 24px;
}


.uppertitle-line::before {
  content: "";
  display: block;
  width: 72px;
  height: 2px;
  background-color: var(--accent-txt-cl);
}

.about-title {
  max-width: 555px;
  padding-right: 77px;
}

.about-text {
  width: 600px;
  height: auto;
}

.link-read-more {}

/**
  |============================
  | Motivation styles
  |============================
*/
.motivation {}

.motivation-container {
  display: block;
  height: 985px;
}

.container {}

.motivation-img {
  max-width: 1461px;
  position: absolute;
  z-index: -1;
}

.motivation-content {
  width: 1163px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 530px;
}

.mitivation-uppertitle {
  display: flex;
  gap: 29px;
  align-items: center;
  justify-content: center;
}

.mitivation-uppertitle::before {
  content: "";
  display: block;
  width: 72px;
  height: 2px;

  background-color: var(--accent-txt-cl);
}

.mitivation-uppertitle::after {
  content: "";
  display: block;
  width: 72px;
  height: 2px;

  background-color: var(--accent-txt-cl);
}

.motivation-title {
  max-width: 705px;

  text-align: center;
  margin: 0 229px;
}

.title {}

.motivation-text {
  text-align: center;
  margin: 0 114px;

  margin-bottom: 39px;
}

.text {}

.motivation-link {
  display: block;
  text-align: center;
}

/**
  |============================
  | Culture styles
  |============================
*/

.culture {}

.container {}

.container-content {
  max-width: 632px;
  margin-left: 42px;
  margin-right: 210px;

}

.culture-uppertitle {
  margin-top: 115px;
}

.culture-title {
  width: 530px;
}

.text {}

.link-read-more {}

.culture-img {}

/**
  |============================
  | Footer styles
  |============================
*/

.footer {}

.footer-container {
  display: block;
}

.footer-container-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 0.3px solid rgb(255, 255, 255);

}

.footer-logo {
  /* display: flex;
    align-items: center; */
}

.footer-logo-img {}

.footer-search {
  display: flex;
  align-items: center;
  gap: 55px;
  margin-bottom: 55px;
}

.footer-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.3px;
}

.footer-btn {
  width: 240px;
  height: 69px;

  font-size: 17px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--bt-txt-cl);

  border-radius: 8px;
  background-color: var(--main-bt-cl);
}

.footer-box-info {
  display: flex;
  margin-top: 55px;
  margin-bottom: 101px;
}

.footer-box-send {
  margin-right: 252px;
}

.footer-title {
  max-width: 361px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.3px;
}

.footer-form {
  max-width: 400px;
}

.footer-form-btn {}

.footer-box-infolist {
  display: flex;
  gap: 184px;
}

.footer-list {}

.footer-list li:first-child {
  color: var(--footer-accent-cl);
}

.footer-iteam {}

.footer-link {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.23px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  gap: 50px;

  margin: 0 40px;
  margin-bottom: 156px;
}

.footer-container-info {
  display: flex;
}


.footer-text-info {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.2px;

  margin-right: 50px;
}

.footer-text-privat {}

.footer-social {
  display: flex;
  gap: 51px;
}

.footer-social-link {}

.footer-socail-iteam {}

.footer-social-icon {}

.footer-slogan {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.8;

  text-align: center;
}